# ========================
# Node
# ========================
node_modules/

# ========================
# Python
# ========================
venv/
__pycache__/
*.pyc

# ========================
# Environment files
# ========================
.env

# ========================
# Database
# ========================
*.db
*.sqlite

# ========================
# Zip / backups
# ========================
*.zip

# ========================
# OS files
# ========================
.DS_Store
Thumbs.db

